body {
  line-height: 1.4;
  font-family: $type--paragraph;
}

.list{
  background-color: mix(white, $light-teal, 60%);
}

.orange {
  color: $orange;
}

%type--header {
  font-family: $type--header;
}