//Vars
$type--header: 'Magnel', 'Abril Fatface', serif;
$type--paragraph: 'Nexa Thin', 'Arial' , sans-serif;

//Colors
$light-teal: #85FCB2;
$teal: #03C3D8;
$purple: $teal;
$navy: #263248;
$dark-grey: #383d3b;
$black: #1f1f15;
$white: #fff;
$light-grey: #ccc;
$orange: #FF9800;
$black: #000000;

$background-color: #fff;
